{% extends 'information/base.html' %} {% load static %} {% block title %}Requirements Booking{% endblock title %} {% block content %}
<!-- <h1>book now </h1>
    {% for j in s_gov_id %}
    <h1>{{j.s_agency_name}}</h1>
    {% endfor %} -->
{% for p in current_patient %} {% for s in s_gov_id %}
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-7 col-lg-7 col-12 col-xxl-7">
        <form action="{% url 'book' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="patient">Username</label>
                <input type="text" class="form-control" id="patient" name="patient" placeholder="Choose a unique username" value="{{p.p_username}}" required>
            </div>
            <div class="form-group">
                <label for="supplier">Hospital Name</label>
                <input type="text" class="form-control" id="supplier" name="supplier" placeholder="Choose a unique username" value="{{s.s_agency_name}}" required>
            </div>
            <select class="form-select" aria-label="Default select example" name="bed">
                    <option selected>Open this select menu</option>
                    <option value="ICU">ICU bed</option>
                    <option value="Ventilator">Ventilator bed</option>
                    <option value="ICU+Ventilator">ICU+Ventilator bed</option>
                </select>

            <select class="form-select" aria-label="Default select example" name="oxygen">
                    <option selected>Open this select menu</option>
                    <option value="cylinder">Oxygen Cylinder</option>
                    <option value="refill">Oxygen Cylinder Refill</option>
                </select>

            <button class="btn btn-primary" type="submit">Book</button>
        </form>
    </div>
</div>
{% endfor %} {% endfor %} {% endblock %}