{% extends 'information/base.html' %}
{% load static %}

{% block title %}Supplier Homepage{% endblock title %}

{% block content %}
<h1>Supplier</h1>
    {% for j in supplier %}
        {{ j.s_agency_name }}<br>
        {{ j.s_emailid }}<br>
        {{ j.s_state}}<br>
        {{ j.s_district}}<br>
        {{ j.icu_beds}}<br>
        {{ j.ventilator_beds}}<br>
        {{ j.icu_ventilator_beds}}<br>
        {{ j.oxygen}}<br>
        <a href="edit_supplier.html">EDIT</a>
    {% endfor %}
{% endblock content %}